.todoListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 200px;
  border: 1px solid crimson;
  padding: 8px;
  border-radius: 15px;
  background-color: rgb(45, 160, 45);
}

.todoListItem button {
  height: 20px;
  margin: 20px;
  border: none;
}

.todoListItem p {
  margin: 15px;
}

ul {
  list-style: none;
}

li text {
  margin-left: auto;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(148, 58, 148);
  border: 1px solid purple;
  width: 300px;
  padding: 8px;
  border-radius: 20px;
}

.listItemButtonField {
  display: flex;
  flex-direction: row;
}

.listItemTextArea {
  display: flex;
  flex-direction: column;
}

.listItemTextArea label {
  height: 16px;
}
